body {
  font-family: consolas;
  background-color: #e2e8f0;
}
h2 {
  margin-left: 700px;
  font-size: 20px;
  color: #333;
}
form {
  border: 3px solid #f1f1f1;
}
input[type="text"],
input[type="password"],
[type="submit"] {
  width: 30%;
  padding: 12px 20px;
  margin: 15px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 35%;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-right: 0%;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.container {
  padding: 16px;
  text-align: center;
}
[type="submit"] {
  clear: left;
  margin: 20px 0 0 0px;
  font-size: 18px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}
